/* Library Generics  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* Container */

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/* Display flex row & column */

.row{
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
}

[class^='col']{
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.col{
    flex-grow: 1;
}

/* Grill 12 elements (col) */

.col-1{
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.col-2{
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6{
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.col-7{
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-8{
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.col-9{
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.col-10{
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.col-11{
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.col-12{
    flex-basis: 100%;
    max-width: 100%;
}

/* Offset Grill 12 (col) */

.offset-0{
    margin-left: 0;
}

.offset-1{
    margin-left: calc(100% / 12);
}

.offset-2{
    margin-left: calc(100% / 12 * 2);
}

.offset-3{
    margin-left: calc(100% / 12 * 3);
}

.offset-4{
    margin-left: calc(100% / 12 * 4);
}

.offset-5{
    margin-left: calc(100% / 12 * 5);
}

.offset-6{
    margin-left: calc(100% / 12 * 6);
}

.offset-7{
    margin-left: calc(100% / 12 * 7);
}

.offset-8{
    margin-left: calc(100% / 12 * 8);
}

.offset-9{
    margin-left: calc(100% / 12 * 9);
}

.offset-10{
    margin-left: calc(100% / 12 * 10);
}

.offset-11{
    margin-left: calc(100% / 12 * 11);
}

.offset-12{
    margin-left: 100%;
}

/* Utilities 4 alignment ( x & y ) */

.content-start{
    justify-content: flex-start;
    text-align: start;
}

.content-center{
    justify-content: center;
    text-align: center;
}

.content-end{
    justify-content: flex-end;
    text-align: end;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

/* Media Query */

@media screen and (min-width: 576px) {
    
    .col-sm-1{
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }
    
    .col-sm-2{
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .col-sm-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-sm-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-sm-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-sm-6{
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
    
    .col-sm-7{
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .col-sm-8{
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .col-sm-9{
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .col-sm-10{
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .col-sm-11{
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .col-sm-12{
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Offset-sm */

    .offset-sm-0{
        margin-left: 0;
    }

    .offset-sm-1{
        margin-left: calc(100% / 12);
    }
    
    .offset-sm-2{
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-sm-3{
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-sm-4{
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-sm-5{
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-sm-6{
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-sm-7{
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-sm-8{
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-sm-9{
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-sm-10{
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-sm-11{
        margin-left: calc(100% / 12 * 11);
    }
    
    .offset-sm-12{
        margin-left: 100%;
    }
}

@media screen and (min-width: 768px){
    
    .col-md-1{
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }
    
    .col-md-2{
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .col-md-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-md-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-md-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-md-6{
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
    
    .col-md-7{
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .col-md-8{
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .col-md-9{
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .col-md-10{
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .col-md-11{
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .col-md-12{
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Offset-md */

    .offset-md-0{
        margin-left: 0;
    }

    .offset-md-1{
        margin-left: calc(100% / 12);
    }
    
    .offset-md-2{
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-md-3{
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-md-4{
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-md-5{
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-md-6{
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-md-7{
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-md-8{
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-md-9{
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-md-10{
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-md-11{
        margin-left: calc(100% / 12 * 11);
    }
    
    .offset-md-12{
        margin-left: 100%;
    }
}

@media screen and (min-width: 992px) {

    .col-ld-1{
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }
    
    .col-ld-2{
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .col-ld-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-ld-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-ld-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-ld-6{
        flex-basis: calc(100% / 12 * 6);
        max-width: calc(100% / 12 * 6);
    }
    
    .col-ld-7{
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .col-ld-8{
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .col-ld-9{
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .col-ld-10{
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .col-ld-11{
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .col-ld-12{
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Offset-ld */

    .offset-ld-0{
        margin-left: 0;
    }

    .offset-ld-1{
        margin-left: calc(100% / 12);
    }
    
    .offset-ld-2{
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-ld-3{
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-ld-4{
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-ld-5{
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-ld-6{
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-ld-7{
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-ld-8{
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-ld-9{
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-ld-10{
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-ld-11{
        margin-left: calc(100% / 12 * 11);
    }
    
    .offset-ld-12{
        margin-left: 100%;
    }
}